<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Bruno Carvalho Feitosa" />
    <meta name="description" content="Aplicativo desenvolvido no WorkshopDev Especial Semana OmniStack 11.0, este aplicativo serve para cadastrar idéias durante a crise de Covid-19" />
    <meta name="keywords" content="Aplicativo, WorkshopDev Espcial, Semana OmniStack 11.0, Cadastrar Ideias" />
    <link rel="stylesheet" type="text/css" href="/index.css" />
    <link rel="stylesheet" type="text/css" href="/ideias.css" />
    <link rel="icon" type="image/png" href="../fav.png" />
    <title>Casa Criativa</title>
</head>

<body>
    <div class="b-container">
        <header class="b-container__header">
            <a href="/"><img src="/logo.png" title="Casa Criativa" alt="Logomarca Casa Criativa" /></a>
            <nav>
                <li><a href="/">Início</a></li>
                <li><a href="/ideias">Idéias</a></li>
                <li class="more-ideas"><a href="#">Nova Idéia</a></li>
            </nav>
        </header>
        <section class="b-container__ideasTitle">
            <p>em exibição</p>
            <h1>Idéias</h1>
        </section>
        <main class="b-container__ideas">
            {% include "all_ideas.html" %}
        </main>
        <footer class="b-container__footer"></footer>

        {% include "modal.html" %}
    </div>
</body>
<script src="/script.js"></script>

</html>