<div class="b-modal">
    <div class="b-modal__content">
        <h1>Nova Idéia</h1>
        <form action="/" method="POST" class="b-form">
            <div class="input-group flex">
                <div class="left"><label for="title">Título da Idéia</label><input type="text" name="title" />
                </div>
                <div class="right"><label for="category">Categoria</label><input type="text" name="category" />
                </div>
            </div>
            <div class="input-group"><label for="image">Link da Imagem</label><input type="url" name="image" />
            </div>
            <div class="input-group"><label for="description">Digite uma descrição para essa
                    idéia</label><textarea name="description" cols="30" rows="10"></textarea></div>
            <div class="input-group"><label for="link">Link da Idéia</label><input type="url" name="link" />
            </div><button>Salvar Alterações</button>
        </form>
    </div>
    <div class="b-modal__close"><button class="close"></button></div>
</div>